export API_ROOT_PATH=/
DB_URL="postgresql+asyncpg://test:test@localhost:5432/test"

# If not provided, pytest will start a temporary docker container with pg db.
# TEST_DB_URL="postgresql+asyncpg://test:test@localhost:5432/test"
